 html {
  background: rgba(black, 0.03);
}
body, html {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 115%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}
.chat-output {
  position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 55vh;
    overflow: auto;
}
.chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 60%;
    height: 76%;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

  .user-message .message {
    
      background: #0FB0DF !important;
      color: white !important;
    
  }
  .bot-message {
    text-align: right;
  }
  .bot-message  .message {
      background: #eee;
    }
  .message {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
  }
  .chat-input {
  padding: 11px;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.chat-input .user-input {
    width: 70%;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
 .top_menu {
    padding-top: 12px;
    height: 36px;
    color: #fff;
    font-size: 13px;
    background-color: #404040;
    cursor: pointer;
 }
 .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}
.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}
.top_menu .buttons .button.close {
    background-color: #f5886e;
}
.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}
.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}
.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.stat {
  font-size: 70% !important;
}
.send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}
.send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}
.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}
.status {
  width: 100%;
    position: absolute;
    bottom: 0;
}